<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h5>收件人列表</h5>
    <table border="1">
        <tr>
            <th></th>
            <th>ID</th>
            <th>发件邮箱</th>
            <th>发件密码</th>
            <th>收件邮箱</th>
            <th>标题</th>
            <th>内容</th>
            <th>发件时间</th>
            <th>操作</th>
        <tr th:each="email,status : ${emailList}">
            <td th:text="${status.count}"></td>
            <td th:text="${email.id}"></td>
            <td th:text="${email.fUser}"></td>
            <td th:text="${email.fPwd}"></td>
            <td th:text="${email.sUser}"></td>
            <td th:text="${email.emailTitle}"></td>
            <td th:text="${email.emailContent}"></td>
            <td th:text="${email.fTime}"></td>
            <td><a th:href="@{/deleteEmailById(id=${email.id})}">删除</a></td>
        </tr>
    </table>
<a th:href="@{/index}">返回首页</a>
</body>
</html>